# Cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
cmake-build-*/

# C C++ objects and libs

*.d
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# OSX files
.DS_Store

# Qt Creator Files
*.user
build-*/
*.autosave

# Gradle files
.gradle/
build/
local.properties

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.cxx/

# kde
.directory

# vscode
.vscode/

# other
.build
.debug
.svn
.git/
tags
.gdb_history
.project
.classpath
.settings/
deps/

# Visual Studio
.vs/
CMakeSettings.json

# resource
res_generated/
